*{
    padding: 0;
    margin: 0;
}
.landingPage div nav{
    height: 60px;
    max-width: 98%;
    border-bottom: 1px black solid;
    margin: 5px auto;
}
.landingPage div nav .navMiddle{
    max-width: 80%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px black solid;
    border-left: 1px black solid;
}
.landingPage div nav .navMiddle span{
    font-size: 2.5rem;
    margin: 0 0 14px 5%;
}
.landingPage div nav .navMiddle ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    margin: 20px 40% 12px 0;
}
.landingPage div nav .navMiddle ul li{
    list-style-type: none;
}
.landingPage div .heroPage{
    max-width: 90%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
}
.landingPage div .heroPage .Delicium div{
    font-size: 15rem;
    color: #e6654a;
    padding-top: 15%;
    font-family: serif;
    
}
.landingPage div .heroPage .Delicium p{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0;
    color: black;
    margin: -5% 0 0 0;
}
.landingPage div .heroPage div img{
    width: 500px;
    height: 550px;
    margin: -50% -35% 0 52%;
    float: right;
}
/* This is section2 */
.section2{
    max-width: 95%;
    margin: 0 auto;
}
.section2 .welcome{
    max-width: 100%;
    margin: 0 auto;
    padding: 10% 0;
    font-size: 3rem;
    text-transform: uppercase;
    width: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.section2 .imgWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.section2 .imgWrapper img{
    width: 30%;
    margin-bottom: 20px;
    object-fit: cover;
}